.restaurant-component-container{
    border-radius: 25px;
    display: flex;
    height: 15vh;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--light-blue);
    cursor: pointer;
}

.restaurant-component-image{
    width: 45%;
    height: 100%;
    border-radius: 25px 0px 0px 25px; 
    object-fit: cover;
}

.restaurant-component-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 15px;
    gap: 0px;
}

.restaurant-component-name{
    color: var(--grey-3);
    margin-bottom: 10px;
}

.restaurant-component-none{
    display: none;
}

p.restaurant-component{
    margin: 2px 2px 2px 0px;
}

h3.restaurant-component{
    color: var(--blue);
}

ul.restaurant-component {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.restaurant-component.open{
    color: green;
    font-weight: bolder;
}

.restaurant-component.close{
    color: red;
}