@import url('./assets/font/Metropolis/metropolis.css');

html,body {
  margin: 0;
  font-family: 'Metropolis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--white);

  touch-action: manipulation; 
  overscroll-behavior: none; 
}

@media (min-width: 700px) {
  body {
    width: 400px;  
    position: relative;
  }
  html{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, textarea, select {
  font-size: 16px; /* Empêche le zoom automatique */
  color: var(--grey);
}

input:focus, select:focus{
  outline: solid 2px var(--blue);
}

input::placeholder{
  color: var(--grey-2);
}

i{
  overflow: hidden !important;
}

:root{
  --blue: #36A7E9;
  --light-blue: #00000009;
  --light-blue-2: #36b1f69c;
  --darker-blue: #025687;
  --grey: #7C7D7E;
  --grey-2: #c1c1c1;
  --grey-3: #4c4c4c;
  --light-grey: #F2F2F2;
  --white: #fff;
  --star-filled: #EE5A30;
  --arrow-icon-down: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --arrow-bg: #dddddd71; /* Couleur du fond près de la flèche */
  --select-bg: #F2F2F2;
}

