@import url('./assets/font/Metropolis/metropolis.css');

html,body {
  margin: 0;
  font-family: 'Metropolis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--white);
}

@media (min-width: 700px) {
  body {
    width: 400px;  
    position: relative;
  }
  html{
    display: flex;
    align-items: center;
    justify-content: center;
  }


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --blue: #36A7E9;
  --grey: #7C7D7E;
  --light-grey: #F2F2F2;
  --white: #fff;
}

